.header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .4));
    color: white;
}

.header .container ul {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.user-icon-name {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-icon-name img {
    width: 45px;
    /* height: 200px; */
}

.titulo {
    align-self: center;
}

.menu_sair:hover {
    border-bottom: solid 1px white;
    cursor: pointer;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- MENU VOTO =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* .main-content {
    border: solid 2px chartreuse;
} */

.main-content {
    display: flex;
    /* border: solid 2px chartreuse; */
    padding-bottom: 2.8%;
    /* height: 1000px; */
}

.main-content .container {
    /* border: solid 2px purple; */
    width: 95%;
}

.menu-voto {
    /* border: solid 2px black; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.titulo-menu {
    /* border: solid 2px crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.botao-voltar {
    color: #ffffff;
    font-weight: 600;
    text-shadow: 1px 1px 0 #000000;
    font-size: 20px;
}

.botao-voltar:hover {
    border-bottom: solid 1px white;
    cursor: pointer;
}

.botao-voltar a {
    text-decoration: none;
    color: #ffffff;
}

.titulo-menu h1 {
    color: white;
    text-shadow: 2px 3px 0 black;
    font-size: 50px;
}

.conteudo-voto {
    /* border: solid 2px black; */
    display: flex;
    flex: column;
    height: 700px;
}

.album-images {
    /* border: solid 2px violet; */
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    /* height: 400px; */
    width: 70%;
}

.albuns-row {
    /* border: solid 2px chartreuse; */
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.albuns-row img {
    /* border: solid 2px aqua; */
    /* margin: auto 0; */
    height: 300px;
}

.box-votacao {
    /* border: solid 2px blue; */
    width: 30%;
    height: 100%;
    box-sizing: border-box;
}

.botao-votar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* border: solid 2px palevioletred; */
}

.botao-votar button {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    letter-spacing: 2px;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    width: 40%;
    height: 50%;
    padding: 0.7rem 1.2rem;
    align-self: center;
    transition: background .5s;
}

.botao-votar button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.informacao-votos {
    /* border: solid 2px crimson; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0 3%;
    height: 80%;
}

.qtd-votos {
    /* border: solid 2px cadetblue; */
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.qtd-votos h3 {
    text-align: center;
    font-size: 23px;
}

.info-voto {
    /* border: solid 2px cadetblue; */
    color: #ffffff;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-voto h4 {
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.selecionar-artista {
    margin-top: 1%;
    align-self: center;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px 0 #000000;
}

.selecionar-artista select {
    background: rgba(255, 255, 255, .3);
    border: none;
    outline: none;
    padding: .4rem .9rem;
    font-family: 'Poppins';
    font-size: 20px;
    border-radius: 100px;
    transition: background .5s;
}

select:focus {
    background: white;
}